%ul#main_nav
  = render :partial => 'layouts/main_nav_items_before' rescue nil
  %li.nohome= link_to t('main_nav.people.link'), people_path, :class => 'people'
  %li.nohome= link_to t('main_nav.companies.link'), companies_path, :class => 'companies'
  %li.nohome= link_to t('main_nav.groups.link'), groups_path, :class => 'groups'
  %li.nohome= link_to t('main_nav.projects_products.link'), projects_path, :class => 'projects'
  %li.nohome= link_to t('main_nav.resources.link'), resource_links_path, :class => 'resources'
  = render :partial => 'layouts/main_nav_items_after' rescue nil
