!!! 5
%html
  %head
    %title
      - if page_title
        = page_title
        &raquo;
      = t('layout.title', {:name => SETTINGS['organization']['name'], :city => SETTINGS['organization']['city']})
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %link{:rel => 'search', :type => 'application/opensearchdescription+xml', :href => '/opensearch.xml', :title => SETTINGS['organization']['name']}
    = stylesheet_link_tag 'application'

    = csrf_meta_tag
  %body{:class => "#{controller_name} #{controller_name}_#{action_name} #{user_signed_in? ? 'signed_in' : 'not_signed_in'}"}
    #header
      .inner_container
        = render 'layouts/header'
      = render 'layouts/navigation'
    #content
      #content_header
        = yield(:section_header)
      = render_flash
      = yield

    #footer
      #citizenry_credit
        = t('layout.powered_by', :powered_by => link_to("Citizenry", "http://github.com/reidab/citizenry/")).html_safe
      #hosting_credit
        = t('layout.hosting_credit', :host => link_to("#{SETTINGS['organization']['host']}", "#{SETTINGS['organization']['host_url']}")).html_safe
      #contact_link
        = t('layout.contact_link', :email => mail_to("#{SETTINGS['organization']['email']}")).html_safe
      #twitter_link
        = t('layout.follow_link', :link => twitter_link("#{SETTINGS['organization']['twitter']}")).html_safe

    = javascript_include_tag 'application'
    %script
      $(function() { $('#flash .message.success, #flash .message.notice').delay(4000).hide('blind'); });
    = render :partial => 'layouts/google_analytics'
